.App {
  text-align: center;
}
.heading {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.checkbox_highlighted{
  -moz-box-shadow: 0 0 1px 1px rgba(210,0,0,1);
  -webkit-box-shadow: 0 0 1px 1px rgba(210,0,0,1);
  box-shadow: 0 0 1px 1px rgba(210,0,0,1);
}

#axis_data_dropdown_highlighted{
  -moz-box-shadow: 0 0 1px 1px rgba(210,0,0,1);
  -webkit-box-shadow: 0 0 1px 1px rgba(210,0,0,1);
  box-shadow: 0 0 1px 1px rgba(210,0,0,1);
}
